html{
    background: #B88F73;
}
body, h3, .intro{
    margin: 0 !important;
}
.intro{
    padding: 10px 15px;

}
#articleSavedModal.modal {
    width: 35% !important ;
}
#showcase{
    background-image: url("./../images/news-image.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.btn{
    margin: 5px 2px;
}
.small-caps{
    font-variant: small-caps;
}
.blue-grey{
    min-height: 280px !important;
    max-height: 350px !important;
}
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
}
h2 {
    font-size: 1.9em !important;
}
h3, h4, .intro p{
    font-variant: small-caps;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
}
h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #29b6f6;
}
h4{
    font-size: 1.3em;
}
.articleCard{
    margin: 7.5px 0 !important;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
    #articleSavedModal.modal {
    width: 75% !important ;
}
    .intro h3{
        display: none;
    }
    h3, h4, .intro p{
        font-variant: small-caps;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 5px;
    }
    h3, #modal h5 {
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    .intro p{
        font-size: 13px;
        padding-left: 10px;
        color: #29b6f6;
        text-align: left !important;
    }
}